.btnDelete {
  font-size: 15px;
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #767676;
}

.contactText {
  font-size: 15px;
  display: flex;
  gap: 15px;
}

.wrapperContact {
  display: flex;
  justify-content: space-between;
}
