.contactList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contactItem{
    width: calc((100% / 4) - (3 * 15px));
    border: 1px solid black;
    border-radius: 5px;

    padding: 10px 20px;
}